<header class="site-header">
  <div class="header-inner">
    <a class="header-brand" href="/">
      <img class="bsa-logo" src="/images/BSAwhite.svg" alt="Scouting America">
      <div class="header-title">
        <span class="header-org">Scouting America</span>
        <span class="header-troop">Troop 90, Centralia, MO</span>
      </div>
    </a>
    <button class="hamburger" id="hamburger" aria-label="Toggle navigation" aria-expanded="false" aria-controls="main-nav">
      <span></span><span></span><span></span>
    </button>
  </div>
</header>
